body {
  background: #222;
}

.App {
  text-align: left;
  display: flex;
  color: white;
}

.App-title {
  font-size: 1.5em;
  margin: 10px;
  color: white;
}

.App-logo {
  text-decoration-style: none;
}

.icon-container {
  display: flex;
  justify-content: space-around;
  width: 6em;
  font-size: 18px;
}

a {
  padding-left: 2em;
}

.sidebar {
  background: red;
  max-height: 100vh;
}

.main {
  flex: 1;
  padding: 10px;
  max-height: 100vh;
  overflow: scroll;
}
